.root {
    margin-bottom: 2rem;
}

.header {
    flex: 1 1 66.66%;
    max-width: 66.66%;
    padding-right: 1rem;
}

.green {
    color: #05c46b;
}

.green svg {
    fill: #05c46b;
}

.red {
    color: #f53b57;
}

.red svg {
    fill: #f53b57;
}

.marginRight {
    margin-right: 0.25rem;
}

.subTitle {
    display: flex;
    align-items: center;
}

.headerContainer {
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-end;
}

.actions {
    flex: 1 1 33.33%;
    max-width: 33.33%;
}

